/* The usual ... ? */
* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Set us up to fill the screen with content */
html,
body,
main,
section {
    height: 100%;
}

/* General section-ry */
section {
    align-items: center;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* Alternate colors to break the monotony */
section:nth-child(odd) {
    background-color: #113755;
    color: #d3d3d3;
}

section:nth-child(even) {
    background-color: #d3d3d3;
    color: #113755;
}

/* Make 'Syracuse' orange */
.location {
    color: rgb(184, 101, 0);
    animation: unhighlightSyr 1s;
    text-decoration: none;
}

.location:hover {
    animation: highlightSyr 1s;
    animation-fill-mode: forwards;
}

/* Settings pertaining to the 'greeting' section  */
#greeting-container {
    align-content: center;
    flex: 1;
    justify-content: flex-end;
}

#greeting-container > h1,
#greeting-container > h2 {
    animation: fadeIn 1.5s;
    animation-fill-mode: forwards;
    margin: 0;
    opacity: 0;
}

#greeting-container > h1 {
    animation-delay: .25s;
    font-size: 1rem;
    text-transform: uppercase;
}

#greeting-container > h2 {
    font-size: 1.6rem;
    animation-delay: 1.5s;
}

#arrow-container {
    align-items: center;
    color: #808080;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 0;
}

#arrow-container:hover {
    cursor: pointer;
}

#arrow-container > p {
    animation: fadeIn 1.5s;
    animation-delay: 4.5s; /* Delay this fadeIn until after my name fades in */
    animation-fill-mode: forwards; /* Make opacity stay at 1 when it gets there */
    color: lightgray;
    opacity: 0;
}

#arrow-container > span {
    animation: animateArrows 3s infinite;
    animation-delay: 3s;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    display: block;
    height: 15px;
    opacity: 0; /* Start invisible */
    transform: rotate(45deg);
    width: 15px;
}

#arrow-container > span:nth-child(1) {
    animation-delay: 3.2s;
}
#arrow-container > span:nth-child(2) {
    animation-delay: 3.4s;
}
#arrow-container > span:nth-child(3) {
    animation-delay: 3.6s;
}

/* Bring things to life! */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes highlightSyr {
    from { color: rgb(184, 101, 0); }
    to { color: rgb(230, 126, 0); }
}

@keyframes unhighlightSyr {
    from { color: rgb(230, 126, 0); }
    to { color: rgb(184, 101, 0); }
}

@keyframes animateArrows {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-200%, -200%);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(-18%, -18%);
    }
}

/* media queries */
@media (width < 800px) {
    #greeting-container {
        padding-left: 8vw;
        padding-right: 8vw;
    }
}