* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.flex-container {
    display: flex;
    height: 100vh;
    position: relative;
    width: 100vw;
}

.flex-container > .flex-item:nth-child(even) {
    background-color: #113755;
    color: white;
}

.flex-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    flex-direction: column;
    overflow: hidden;

}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.container .item:nth-child(odd) {
    background-color: #113755;
    color: white;
}

.item {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    transition: flex-grow 1.5s;
}

.item:hover {
    flex-grow: 2;
}

#item-1 {

}
#item-2 {

}


/*** ANIMATIONS ***/
@keyframes fillPanel {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.3);
    }
}