* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* scroll snap stuff */
html {
    /* Experiment */
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}
main section {
    color: lightgray;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
/********************************************************************/
/* Layout stuff; separated because fairly static (shouldn't change) */

main section:nth-child(odd) {
    background-color: #113755;
}
main section:nth-child(even) {
    color: #113755;
}

/********************************************************************/
/* Sections */
#section-1-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#greeting-container {
    height: 70vh;
    margin-top: 40vh;
}

#greeting-container a {
    text-decoration: none;
}

#greeting-container h1 {
    animation: fadeIn 1.5s;
    animation-delay: .25s;
    animation-fill-mode: forwards;  /* Make opacity stay at 1 when it gets there */
    color: rgb(169, 169, 169);
    font-size: 1.4rem;
    margin: 0;
    opacity: 0;
    text-transform: uppercase;
    text-align: left;
}

#greeting-container h2 {
    animation: fadeIn 1.5s;
    animation-delay: 1.5s; /* Delay this fadeIn until after my name fades in */
    animation-fill-mode: forwards; /* Make opacity stay at 1 when it gets there */
    font-size: 2rem;
    margin: 0;
    opacity: 0; /* When this page loads, this needs to be hidden */
    text-align: left;
}

/*** SECTION 1 MAKE 'SYRACUSE' ORANGE ***/
.location {
    color: rgb(184, 101, 0);
    animation: unhighlightSyr 1s;
}

.location:hover {
    animation: highlightSyr 1s;
    animation-fill-mode: forwards;
}

/********************************************************************/
/* Arrow animation */
#arrow-box {
    align-items: center;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* margin: auto; */
    margin-bottom: 0;
    
}

#arrow-box span {
    animation: animateArrows 3s infinite;
    animation-delay: 3s;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    display: block;
    height: 20px;
    opacity: 0; /* Start invisible */
    transform: rotate(45deg);
    width: 20px;
}

#arrow-box span:nth-child(1) {
    animation-delay: 3.2s;
}
#arrow-box span:nth-child(2) {
    animation-delay: 3.4s;
}
#arrow-box span:nth-child(3) {
    animation-delay: 3.6s;
}

#arrow-box p {
    animation: fadeIn 1.5s;
    animation-delay: 4.5s; /* Delay this fadeIn until after my name fades in */
    animation-fill-mode: forwards; /* Make opacity stay at 1 when it gets there */
    color: lightgray;
    opacity: 0;
}

#arrow-box:hover {
    cursor: pointer;
}

/* ** SECTION 2 SPLIT THE VIEW ** */
#section-2-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel {
    flex: 1;
}

.hidden {
    opacity: 0;
}

/* ** ANIMATIONS ** */
@keyframes animateArrows {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-200%, -200%);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(-18%, -18%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes highlightSyr {
    from {
        color: rgb(184, 101, 0);
    }
    to {
        color: rgb(230, 126, 0);
    }
}

@keyframes unhighlightSyr {
    from {
        color: rgb(230, 126, 0);
    }
    to {
        color: rgb(184, 101, 0);
    }
}

@keyframes growContainer {

}

@media (width < 900px) {
    #greeting-container {
        padding-top: 10%;
        padding-left: 10%;
        padding-right: 10%;
    }
    #section-2-container {
        flex-direction: column;
    }

}